<h2 align="center">Register</h2>
<div align="center">
<form action="/register" method="POST">
    <input name="username" placeholder="Username" required><br><br><br>
    <input type="password" name="password" placeholder="Password" required><br><br><br>
    <button type="submit">Register</button>
</form>
<br><br>
<p>Already have an account? <a href="/login">Login</a></p>
</div>
